@import "../../../variables";

mat-toolbar {
  display: flex;

  .actions {
    margin-left: 4rem;

    a + a {
      margin-left: 0.5rem;
    }

    .active {
      background-color: mat-color($app-primary, darker);
    }
  }
}

.demo-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;
}
